# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
*.GBL
*.GBO
*.GBS
*.GBP
*.GTL
*.GTO
*.GTS
*.GTP
*.GKO
*.txt
*.GML
*.png
*.pdf
*.scr
*.pro
*.pro
*.eup
eagleUp/ZephMultiples.log
*.pnl
TestBench.dxf
*.ai
ZephMultiples.dxf
*.job
Eurorack Set 8 - Second Production Run/Frontpanels/Wobbler_Rev1.PNLDESC
