# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
*.GBL
*.GBO
*.GBS
*.GBP
*.GTL
*.GTO
*.GTS
*.GTP
*.GKO
*.GML
*.png
*.pdf
*.scr
*.pro
*.pro
*.eup
eagleUp/ZephMultiples.log
*.pnl
TestBench.dxf
*.ai
ZephMultiples.dxf
*.job
Eurorack Set 8 - Second Production Run/Frontpanels/Wobbler_Rev1.PNLDESC
*.PNLDESC
*.zip
*.AssemblyBottom
*.AssemblyTop
*.GBOold
*.SILK
EuroForError/Gerbers/BigBus_Error/BigBus_Error.Assembly
Eurorack Set 9/FrontPanels/RectangularThingExp-01-01.psd
Eurorack Set 9/FrontPanels/a.jpg
*.fpd
*.SLICES
adafruit.lbr
dp_devices.lbr
Teensy_3_and_LC_Series_Boards_v1.4.lbr
Teensy_3_and_LC_Series_Boards_v1.4.lbr
Teensy_3_and_LC_Series_Boards_v1.4.lbr
Development/Eurorack Set 2021/Factory
Development/Eurorack Set 2021/Gerbers
Development/Eurorack Set 2021/Wobbler2Code/build
Development/Eurorack Set 2021/Wobbler2Code/build/*
Development/Eurorack Set 2021/Wobbler2Code/simulator/build
Development/Eurorack Set 2021/libfixmath_o
Development/PJB-Box
FrontPanels
.DS_Store
Development/Eurorack Set 2021/Factory/TiNRS-Ardabil/TiNRS-Ardabil_BOM.csv
Development/Eurorack Set 2021/Factory/TiNRS-Ardabil/TiNRS-Ardabil_PNP.csv
Development/Eurorack Set 2021/Wobbler2_kicad/#auto_saved_files#
Development/Eurorack Set 2021/Wobbler2_kicad/_autosave-TINRS - Wobbler (pico)sch.kicad_pcb
Gerbers/*/*.txt
Development/Eurorack Set 12/Gerbers
Development/Eurorack Set 13/Gerbers/ASuitable Number Of Microphones_MERGED/ASuitable Number Of Microphones.TXT
Development/Eurorack Set 13/Gerbers/ASuitable Number Of Microphones/ASuitable Number Of Microphones.TXT
Development/Graphical Toy/WobblerCircles/bin
Development/Graphical Toy/WobblerCircles/obj
Development/Gerbers/AncientFilter-euro/AncientFilter-euro.TXT
Development/Gerbers/AncientFilter-euro_MERGED/AncientFilter-euro.TXT
Development/Gerbers/SWDIsolator/SWDIsolator.TXT
Development/Gerbers/
Development/Factory
*.afdesign
Production/Gerbers
Development/AncientFilter-euro_front.afdesign
Development/Eurorack Set 2021/Wobbler2_kicad/jlcpcb
