[submodule "Development/Eurorack Set 2021/libfixmath"]
	path = Development/Eurorack Set 2021/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath
[submodule "Development/Eurorack Set 2021/Wobbler2Code/simulator/implot"]
	path = Development/Eurorack Set 2021/Wobbler2Code/simulator/implot
	url = https://github.com/epezent/implot.git
